<launch>
  <arg name="hand_side" default="rh"/>
  <arg name="reference_frame" default="$(arg hand_side)_mfknuckle"/>
  <arg name="source_centre_to_knuckle" default="0.064"/>
  <arg name="source_centre_to_palm" default="0.0147"/>

  <arg if="$(eval arg('hand_side') == 'lh')" name="base_index" default="1"/>
  <arg if="$(eval arg('hand_side') == 'rh')" name="base_index" default="0"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="$(anon polhemus_world_tf_broadcaster)"
        args="0 0 0.001 1.5708 0 0 polhemus_base_$(arg base_index) world" />

  <node name="sr_knuckle_calibration" pkg="polhemus_ros_driver" type="knuckle_position_calibration.py" output="screen">
      <param name="base_index" type="int" value="$(arg base_index)" />
  </node>
</launch>