<launch>
  <arg name="hand_side" default="rh"/>

  <arg if="$(eval arg('hand_side') == 'lh')" name="base_index" default="1"/>
  <arg if="$(eval arg('hand_side') == 'rh')" name="base_index" default="0"/>

  <node name="sr_update_static_tf" pkg="sr_gui_polhemus_calibration" type="publish_static_knuckle_tf.py" output="screen">
      <param name="hand_side" value="$(arg hand_side)" />
  </node>

  <node name="sr_knuckle_calibration" pkg="polhemus_ros_driver" type="knuckle_position_calibration_as.py" output="screen">
      <param name="hand_side" value="$(arg hand_side)" />
  </node>

</launch>