<launch>
  <remap from="/tf_polhemus" to="/tf"/>
  <!-- <param name="/use_sim_time" value="true" /> -->
  <arg name="hands" default="right"/>
  <arg name="play_bag" default="false"/>

  <node if="$(arg play_bag)" pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find polhemus_ros_driver)/config/polhemus_movements.bag"/>
 
  <include file="$(find polhemus_ros_driver)/launch/start.launch">
    <arg name="hands" value="$(arg hands)"/>
  </include>

  <include file="$(find sr_fingertip_hand_teleop)/launch/sr_wrist_joint_teleop.launch">
    <arg name="side" value="$(arg hands)"/>
  </include>

</launch>
